@model ProductVM
<div class="card">
    <div class="card-header">
        <h2>Delete Product</h2>
    </div>
    <div class="card-body">
        <form method="post">
            <div class="border p-3">
                <div asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label asp-for="Product.Title" class="pb-1"></label>
                    <input asp-for="Product.Title" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Description" class="pb-1"></label>
                    <div class="form-control" style="pointer-events: none; color: #7a8288; background-color: #ccc;">@Html.Raw(Model.Product.Description)</div>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.ISBN" class="pb-1"></label>
                    <input asp-for="Product.ISBN" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Author" class="pb-1"></label>
                    <input asp-for="Product.Author" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label asp-for="Product.CategoryId" class="pb-1" />
                    <select asp-for="Product.CategoryId" asp-items="@Model.CategoryList" class="form-select" disabled>
                        <option value="">-- Select Category --</option>
                    </select>
                    <span asp-validation-for="Product.CategoryId" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price" class="pb-1"></label>
                    <input asp-for="Product.Price" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price50" class="pb-1"></label>
                    <input asp-for="Product.Price50" class="form-control" disabled />
                </div>
                <div class="mb-3">
                    <label asp-for="Product.Price100" class="pb-1"></label>
                    <input asp-for="Product.Price100" class="form-control" disabled />
                </div>


                <div class="row">
                    <div class="col-6 col-md-3">
                        <button type="submit" class="btn btn-primary form-control">Delete Product</button>
                    </div>
                    <div class="col-6 col-md-3">
                        <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary form-control">Return to Product List</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}